<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Gymmify</title>
  <link rel="stylesheet" href="<%= s_url %>/css/modifica.css">
  <link rel="website icon" href="https://www.creativefabrica.com/wp-content/uploads/2020/02/13/Gym-Logo-Graphics-1-19-580x386.jpg">
</head>

<body>
    <form action="">
    <center><h1>EEseguito con successo!</h1></center>
    <center><a href="<%= s_url %>/scheda/1" style="font-size: 40px;">Vai alla Home</a></center>
    </form>
</body>

</html>